# Splits
bind | split-window -hc "#{pane_current_path}"
bind - split-window -vc "#{pane_current_path}"

# Pane nav with arrows
bind -r Left  select-pane -L
bind -r Right select-pane -R
bind -r Up    select-pane -U
bind -r Down  select-pane -D

# Quick reload
bind r source-file ~/.tmux.conf \; display-message "tmux reloaded"

# Mouse support
set -g mouse on

